.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: 992px) {
    text-align: unset;
  }

  &__info {
    align-self: flex-start;
    margin-bottom: 3rem;
    width: 100%;

    @media (min-width: 992px) {
      flex-basis: 40%;
      padding-right: 3rem;
    }

    &-avatar {
      border-radius: 50%;
    }

    &-name {
      @include typographyStyle(2rem, bold, normal, $caption-color);
      margin-top: 1rem;
    }

    &-username {
      @include typographyStyle(1.5rem, lighter, normal, $caption-color-second);
    }

    &-bio {
      @include typographyStyle(1rem, normal, normal, $caption-color);
      margin: 1rem 0;
    }

    &-follow {
      @include typographyStyle(1.2rem, normal, normal, $caption-color);
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem;

      @media (min-width: 992px) {
        justify-content: flex-start;
      }
    }

    &-location,
    &-blog {
      @include typographyStyle(1rem, normal, normal, $caption-color);

      span {
        @include typographyStyle(
          1.2rem,
          lighter,
          normal,
          $caption-color-second
        );
      }
    }
  }

  &__repos {
    align-self: flex-start;

    @media (min-width: 992px) {
      flex-basis: 60%;
    }

    &_container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    &_title {
      @include typographyStyle(2rem, bold, normal, $caption-color);
      margin-bottom: 2rem;
    }

    &_repo {
      @include typographyStyle(1.2rem, normal, normal, $caption-color);
      // flex-basis: 48%;
      width: 100%;
      border: 1px solid $border-color;
      border-radius: 6px;
      margin: 0 0 1rem 0;
      padding: 0.5rem 1rem;
      height: 5rem;

      @media (min-width: 1200px) {
        flex-basis: 48%;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        a {
          @include typographyStyle(1rem, normal, normal, $link-color);
        }

        span {
          &:nth-child(2) {
            @include typographyStyle(
              1rem,
              lighter,
              normal,
              $caption-color-second
            );
          }
        }
      }

      &-lang {
        text-align: left;
        @include typographyStyle(1rem, lighter, normal, $caption-color-second);
      }
    }
  }
}
