// basic colors
$white: white;
$black: black;
$lightGray: lightgray;

// main colors
$caption-color: #c9d1d9;
$caption-color-second: #8b949e;
$border-color: #30363d;
$bg-color: #0d1117;
$button-bg-color: #21262d;
$main-bg-color: #010409;
$nav-bg-color: #161b22;
$link-color: #58a6ff;

// error colors
$error-text-color: #721c24;
$error-bg-color: #f8d7da;
$error-border-color: #f5c6cb;
