@import "./utils/mixins.scss";
@import "./utils/variables.scss";

.searchBox {
  width: 100%;
  border: 1px solid $lightGray;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 3rem;

  h1 {
    margin: 1rem 0;
  }

  p {
    margin-bottom: 1rem;
    @include typographyStyle(1.3rem, lightet, normal, $caption-color);
  }

  div {
    input {
      width: 90%;
      margin-right: 1rem;
      border-radius: 10px;
      border: 1px solid $lightGray;
      padding: 0.7rem;
      @include typographyStyle(1rem, normal, normal, black);
    }

    button {
      background-color: black;
      @include typographyStyle(1rem, normal, normal, white);
      border: 1px solid black;
      border-radius: 10px;
      padding: 0.7rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      width: 5rem;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
